
:root{
    --bg-color: #0F172A;
    --container-width: 400px;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* overflow: hidden; */
    height: 100vh;
    height: 100dvh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    place-items: center;
}

.title{
    font-family: sans-serif;
    text-align: center;
}

.title h1{
    color: #E5E7EB;
    margin-top: 5rem;
   
}

.title p{
    color: #69707B;
    margin-top: .9rem;
}

.github{
    display: flex;
    justify-content: center;
    align-items: center;
}

.github a svg{
    max-width: 100%;
    fill:#69707B;
    margin-top: 16px;
    margin-left: 5px;
}

.github:hover svg{
    fill:#A651F6;
}

.result{
    display: none;
    width: var(--container-width);
    height: 40px;
    border:solid rgb(147 197 253 ) 1px;
    border-radius: 0.3rem;
    margin-bottom: 0.75rem;
    

}

.p-container{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.result p{
    color: #0EA5E9;
    font-family: sans-serif;
    font-weight: bold;
    display: inherit;
}

/* .all-result:hover .result{
    display: block;
    transition: 1300ms;
} */

.two-columns{
    width: var(--container-width);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: sans-serif;
    text-align: center;
    color: #81848a;
}

.score{
    width: calc(50% - 0.5rem);
    border: 1px dashed #A651F6 ;
    padding: 1rem;
    border-radius: 0.3rem;   
    font-size: 12px;
}

.score span{
    display: block;
    font-size: 30px;    
    color: #E5E7EB;
    margin-bottom: 1rem;
    font-weight: bold;
}


.choice-container{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-choice{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color:#A651F6;
    cursor: pointer;

}

.player-choice::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.5);
    transform-origin: center;
    background-color: rgb(255, 255, 255);
    animation: pulse 1500ms infinite;

}

.player-choice img{
    max-width: 80%;
}

.player-choice:hover{
    background-color: rgb(255, 255, 255);
    transform: translateY(-20%);
    transition: transform 200ms ease;
}

.player-choice::before {
    content: attr(aria-label);
    position: absolute;
    top: 105%;
    left: 50%; 
    transform: translateX(-50%); 
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap; 
    opacity: 0;
    
}

.player-choice:hover::before {
    opacity: 1; 
    transition: opacity 0.2s ease;
}

@keyframes pulse{
    0%{
     transform: scale(0.5);
     opacity: 1;
          
    }

    100%{
        transform: scale(1.4);
        opacity: 0;    
    }
}